<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('slider/5E8C7347-DA1B-40F4-A9F1025C71646571.jpg', class: "d-block w-100", id: "img-carousel") %>
    </div>
    <div class="carousel-item">
      <%= image_tag('slider/26AAFECE-52B2-41A7-97D083EF784383CF.jpg', class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag('slider/324F22D1-9F29-4F0C-BBDC0D634DF453D9.jpg', class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag('slider/B183B417-F82B-4B26-9464FA688186BC30.jpg', class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag('slider/D79B8E03-1EFA-402A-8A5263919C39B404.jpg', class: "d-block w-100") %>
    </div>
  </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="container px-5 my-5">
            <div class="animate_visible fadeInLeft start_animate animated">
                <h1 class="text-center">Materiaux</h1>
                <div class="row">
                <% @materials.each do |material| %>
                <div class="col-12 col-md-4">
                    <%= link_to material_path(material) do %>
                    <div class="">
                        <%= image_tag(material.image, :class => "img-fluid", id: "img-custom") %>
                    </div>
                    <h2  class="text-center"><%= material.title %></h2>
                    <% end %>
                </div>
                <% end %>
                </div>     
            </div>
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <h1 class="text-center">Delai de fabrication: 3 semaines d'attente</h1>
    <div></div>
    <p>Intemporelles a fait l'une de ses priorités les délais de fabrications afin de permettre à ses clients de disposer rapidement de leur pièce en cours de rénovation. <br>
    Dès la prise de mesure au domicile du client, nos équipes mettent tout en œuvre pour réduire les différentes étapes jusqu'à la livraison et installation des plans de travail. <br>
    Nous sélectionnons tout d'abord, les meilleurs blocs de pierres auprès de nos fournisseurs en effectuant des contrôles de qualités en amont afin de garantir une entière satisfaction de nos clients. <br>    
    Une fois ce contrôle effectué, nous effectuons le façonnage de la tranche de pierre sélectionné par rapport au mesure effectué à votre domicile ou de votre société. <br>
    Nous devons réaliser différentes découpes suivant le dessin technique (exemple : découpe pour plaque de cuisson, découpe pour cuve, découpe pour mitigeur, découpe pour prise électrique etc.)
    Il existe également plusieurs types de bordures pour votre plan de travail ou de votre table sur mesure : <br>
    <div class="text-home">
    - Chant droit adouci <br>
    - Chant biseauté 2 mm <br>
    - Chant rayon 5 mm <br>
    - Chant rayon 10 mm <br>
    - Chant aile d'avion <br>
    - Chant bec de corbin <br>
    - Chant coupe d'onglet (de 20 à 80 mm) <br>
    - Chant arrondi complet <br>
    - Chant spéciaux (nous consulter) <br>
    </div>
    Afin de réaliser votre projet, il faut compter trois semaines de délai de fabrication, l'installation s'effectuant la semaine suivante la réception des éléments.  
    </p>
  
  </div>
</div>


<%= javascript_include_tag "carousel" %>