<div id="<%= dom_id color %>">
  <p>
    <strong>Title:</strong>
    <%= color.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= color.description %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= color.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= color.max %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= color.price %>
  </p>

</div>
